<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heat sensor</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Heat Sensor</h1>
    <div class="grid">
        <div class="gridtitle">Sensor 1</div>
        <div class="gridtitle">Sensor 2</div>
        <div class="gridtitle">Sensor 3</div>
        <div id="Temp0">30°</div>
        <div id="Temp1">20°</div>
        <div id="Temp2">10°</div>
    </div>
    <div class="activity">
        <p id="activity">Is pumping</p>
            <p>Active Since:</p>
            <p id="startdate">25-05-2023</p>
    </div>
    <footer>
        <p>Lavet af gruppe B9 - KEA IT-Teknolog 2B F23</p>
        <p class="right">Emil Pehrson, Daniel Larsen, Daniel Nybo, Christian Vexby</p>
    </footer>
</body>
</html>
